a#scroll-to-top {

	/* Background image, replace in images folder */
	background: url(../images/arrow.png) no-repeat center center;

	/* Match to background image size */
	width: 35px;
	height: 35px;

	/* Postion on the page */
	position: fixed;
	right: 30px;
	bottom: 30px;

	/* Hide link text */
	text-indent: -9999px;
	font-size: 0;

	/* Other */
	cursor: pointer;
	outline: 0;

}

body.rtl a#scroll-to-top {
	left: 30px;
}

/* Responsive Design Support */
@media only screen and (max-width: 480px) {

	a#scroll-to-top {

		/* Changing Position */
		right: 5px;
		bottom: 10px;
	}

	body.rtl a#scroll-to-top {
		left: 5px;
		bottom: 10px;
	}
}

/* Custom Image Support */
a#scroll-to-top.custom-image {
	background: none;
	width: auto;
	height: auto;
	text-indent: 0;
}

a#scroll-to-top.custom-image img {
	display: block;
	max-width: 60px; /* Reasonable default limit */
	height: auto;
}
